@import "sidebar";
@import "grid";
@import "list";
@import "button";
@import "input";

#root {
  display:flex;
}

html, body {
  min-width: 1000px;
  margin: 0;
  font-family: Lato, 'sans-serif';
}

.page-form {
  height: 100vh;
  position: relative;
  top     : 0;
  left    : 0;
  width   : 100%;
  background: url('../images/login_bg.png');

  & > div {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-70%);
  }

  form {
    background: #f3f4f5;
    color: rgba(0,0,0,.6);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    padding: 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);

    .input {
      height: 35px !important;
      width: 100%;
      margin-bottom: 10px;

      i {
        position: absolute;
        margin-left: 9px;
        margin-top: 7px;
      }

      input {
        text-indent: 20px;
      }
    }
  }

  .message {
    background: #f95939;
  }

  .button {
    &__register {
      position: absolute;
      right: 5px;
      top: 25px;
    }


    &__login {
      background: #00b5ad;
      width: 100%;
    }

    &__back {
      position: absolute;
      left: 25px;
      top: 25px;
    }
  }
}

.page-tasks {
  display: flex;

  .segment {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    font-weight: 700;

    .item {
      i.icon.tasks:before {
        position: relative;
        left: -10px;
      }
    }
  }

  &__sidebar.sidebar {
    padding-right: 0;
    width: 210px !important;
    height: 100vh  !important;
    background: #1b1c1d;

    .item {
      display: inline-block;
      background: 0 0;
      width: 100%;
      font-weight: 700;
      padding: 0.5em 1.33333333em;
      font-size: 16px;
      color: white;
      text-decoration: none;

      a {
        color: white;
        text-decoration: none;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.content {
  padding: 14px 14px;
  position: relative;

  //.message {
  //  padding: 0;
  //}

  textarea {
    width: 92%;
  }

  i.icon.save:before {
    position: absolute;
    right: 17px;
    top: 6px;
  }

  .header {
    font-size: 1.71428571rem !important;
    padding-top: 10px;
  }

  .button-add {
    margin-bottom: 10px;
  }

  .accordion {
    width: 400px !important;

    i {
      &:hover {
        cursor: pointer;
      }
    }

    i.icon.close:before {
      position: absolute;
      right: 28px;
    }

    i.icon.edit:before {
      position: absolute;
      right: 50px;
    }
  }
}

.task-add {
  position: absolute;
  right: 20px;
  top: 20px;
  background: #f2f2f2;
  padding: 10px 7px;
  border-radius: 5px;

  textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }

  label {
    height: 20px;
  }

  .input {
    margin-bottom: 14px;
  }

  input {
    height: 25px;
    padding: 0 !important;
    position: relative;
    top: 2px;
  }
}


